name: Build asciidoc

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    name: ascii doc
    runs-on: self-hosted

    steps:
      # Git Checkout
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          fetch-depth: 0
          lfs: "true"

      - name: Change permissions
        run: chmod 755 ./scripts/build.sh

      - name: Build
        run: ./scripts/build.sh

      - name: Publish
        uses: actions/upload-artifact@v4
        with:
          name: page
          path: |
            *.html
            *.jpg
            static/*
            Przepisy/*.jpg
            Przepisy/*.html
            Przepisy/Przetwory/*.jpg
            Przepisy/Przetwory/*.html
            Przepisy/Desery/*.jpg
            Przepisy/Desery/*.html
            Przepisy/Dania_glowne/*.jpg
            Przepisy/Dania_glowne/*.html
            Przepisy/Zupy/*.jpg
            Przepisy/Zupy/*.html
            Przepisy/Przystawki/*.jpg
            Przepisy/Przystawki/*.html
            Przepisy/Makarony/*.jpg
            Przepisy/Makarony/*.html
            Przepisy/Salatki/*.jpg
            Przepisy/Salatki/*.html
          if-no-files-found: error
